<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
  <targets>
            <target name="m" xsi:type="MethodCall" className="OrionClient.Program, OrionClient" methodName="LogMethod">
                  <parameter layout="${time}" />
                  <parameter layout="${level}" />
                  <parameter layout="${message}" />
                  <parameter layout="${exception:format=tostring}" />
      
    </target>
    
  </targets>
    <targets async="true">
        <!-- local file target -->
        <target name="fileErrorTarget"
                xsi:type="File"
                fileName="error.log"
                layout="
    -------------- ${level} (${longdate}) --------------${newline}
    ${newline}
    Call Site: ${callsite}${newline}
    Exception Type: ${exception:format=Type}${newline}
    Exception Message: ${exception:format=Message}${newline}
    Stack Trace: ${exception:format=StackTrace}${newline}
    Additional Info: ${message}${newline}" />
    </targets>

    <targets async="true">
        <!-- local file target -->
        <target name="fileDebugTarget"
                xsi:type="File"
                fileName="debug.log"
                layout="${longdate} [${level}] ${message}" />
    </targets>
    <rules>
      <logger name="Main" minlevel="Debug" maxlevel="Fatal" writeTo="m" />
      <logger name="Main" minlevel="Debug" maxlevel="Fatal" writeTo="fileDebugTarget" />
      <logger name="Main" minlevel="Error" maxlevel="Fatal" writeTo="fileErrorTarget" />
    </rules>
</nlog>